<h1>Estimate macros</h1>

<p>Send us an image and/or a description of a meal and we'll ask AI to estimate how many calories and macronutrients it contains:</p>

<form>
  <label>Image:<label>
  <input type="file">
