<h1>Estimate macros</h1>

<p>Send us an image and/or a description of a meal and we'll ask AI to estimate how many calories and macronutrients it contains:</p>

<form action="/process_inputs" method="post" enctype="multipart/form-data">
  <div>
  <label>Image:<label>
  <input type="file" name = "image_param">
  </div>

  <div>
  <label>Description:<label>
  <textarea name="description_param"></textarea>
  </div>

  <button>Estimate!</button>

</form>
